.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f46e49; /* Adjust the background color as needed */
  color: white; /* Adjust the text color as needed */
  text-align: center;
  padding: 10px 0;
  height: 100%;
}
